.Post {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #fec10e;
    border-radius: 5px;
}

.Author {
    font-weight: bold;
}

.Text {
    font-style: italic;
    font-size: 16px;
    display: inline-block;
    margin: 10px;
}

.Time {
    margin-right: 25px;
}