.TextInput,
.AuthorInput {
    border: 1px solid #fec10e;
    padding: 10px;
    width: 450px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.Button {
    background: #fec10e;
    border-radius: 5px;
    border: 1px solid #fec10e;
    padding: 10px;
    float: right;
}